{% load static %}

<!DOCTYPE html>
<html lang="en">
    <head>
        <title>{% block title %}DHOs' Project Managament{% endblock %}</title>
        <link rel="shortcut icon" href="{% static 'progress/favicon.ico' %}" type="image/x-icon">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="{% static 'progress/styles.css' %}" rel="stylesheet">
        <!-- <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.1/css/all.min.css" integrity="sha512-+4zCK9k+qNFUR5X+cKL9EIR+ZOhtIloNl9GIKS57V1MyNsYpYcUrUeQc9vNfzsWfV28IaLL3i96P9sdNyeRssA==" crossorigin="anonymous" /> -->
        
    </head> 
    <body>

        <nav class="navbar navbar-expand-lg navbar-light bg-light">
          
            <div>
              <ul class="navbar-nav mr-auto">
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="#"><strong>{{ user.username }}</strong></a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'logout' %}">Log Out</a>
                    </li>
                {% else %}
                    <li class="nav-item">
                        <a class="nav-link" id="login" href="{% url 'login' %}">Log In</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="{% url 'register' %}">Register</a>
                    </li>
                {% endif %}
                {% if user.is_authenticated %}
                <!-- main-title -->
                <h1 class="nav-item">Project Stages Tracking with Drag&Drop functionality</h1>
                {% endif %}
              </ul>
            </div>
        </nav>
        
        
        <div class="body">
        
                {% block body %}
                {% endblock %}
            
        </div>
    </body>
    {% block script %} {% endblock %}
</html>